@charset "UTF-8";
body {
  counter-reset: cnt;
}
img {
  max-width: 100%;
}
.c-nav {
  background-color: #333333;
  max-width: 1920px;
  height: 85px;
  justify-content: space-between;
  display: flex;
}
.c-nav__logo:hover {
  color: #000;
  opacity: 0.5;
  text-decoration: none;
}
.c-nav__shopping:hover {
  opacity: 0.5;
  text-decoration: none;
}
/*ピックアップホバー*/
.p-pickUp__item {
  overflow: hidden;
  position: relative; /* 相対位置指定 */
}
.p-pickUp__item .caption {
  font-size: 130%;
  text-align: center;
  color: #fff;
}
.p-pickUp__item .mask {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute; /* 絶対位置指定 */
  top: 0;
  left: 0;
  opacity: 0; /* マスクを表示しない */
  background-color: rgba(0, 0, 0, 0.4); /* マスクは半透明 */
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.p-pickUp__item:hover .mask {
  opacity: 1; /* マスクを表示する */
}
/*ピックアップホバー*/
.p-reccomend {
  margin-top: 90px;
}
.c-reccomend__title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.c-reccomend__titleText {
  font-size: 24px;
  border-bottom: 2px solid #ff8636;
  font-weight: 700;
  line-height: 1.135;
  letter-spacing: 0.035em;
}
.p-reccomend__titleSubText {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
}
.c-viewMore {
  text-align: center;
}
.c-viewMore__button:hover {
  color: #000;
  background-color: #c9c9c9;
  text-decoration: none;
}
.c-viewMore__button {
  font-size: 17px;
  color: #fff;
  background: #b4b4b4;
  border-color: #b4b4b4;
}
.p-ranking__link:hover {
  color: #000;
  opacity: 0.5;
  text-decoration: none;
}
.c-item__data {
  color: #000;
  display: flex;
  flex-direction: column;
}
.c-slick__data {
  display: flex;
  flex-direction: column;
}
.c-slick__data > span:not(:first-child) {
  padding-top: 5px;
}

@media screen and (max-width: 768px) {
  /* SP style */
  .p-headerPC {
    display: none;
  }
  .slick-next,
  .slick-arrow {
    display: none !important;
  }
  .slick-next {
    display: none;
  }
  .c-nav__pcList {
    display: none;
  }
  .c-nav__pc {
    display: none;
  }
  .c-search {
    display: none;
  }
  .l-footerPC {
    display: none;
  }

  .p-headerSP {
    height: 40px;
    background-color: black;
  }
  .c-nav {
    /*width: 100%;
    height: 75px;*/
  }
  .c-nav__logo {
    width: 65px;
    order: 2;
  }
  .c-nav__logo img {
    width: 65px;
    height: 52px;
  }
  .c-nav__inner {
    width: 100%;
    height: 75px;
    padding: 0;
    margin: 0;
    max-width: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  /*nav*/
  .nav {
    order: 1;
  }
  .c-navSP__wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    color: #fff;
    background-color: #ff8636;
    transition: 0.3s;
    transform: translateX(-110%);
    transition: transform 500ms 0s ease;
    transition: transform 500ms 0s ease;
    z-index: 100;
  }
  .c-navSP__wrap.open {
    transform: translateX(0%);
    overflow-x: hidden;
  }
  .menu {
    display: block;
    width: 20px;
    height: 20px;
    padding: 25px;
    position: relative;
    z-index: 3;
    border: none;
    order: 1;
  }
  .menu span {
    width: 30px;
    height: 3px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
  }
  .menu span:nth-child(1) {
    top: 13px;
  }
  .menu span:nth-child(2) {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .menu span:nth-child(3) {
    bottom: 13px;
  }
  .closeButton {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    line-height: 1;
    width: 2em;
    height: 0.1em;
    background: currentColor;
    transform: rotate(45deg);
  }
  .closeButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    transform: rotate(90deg);
  }
  /*nav*/
  /*ナビの中身*/
  .c-navSP__header {
    height: 100px;
    width: auto;
  }
  .c-navSP__headerInner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 20px;
  }
  .c-nav__logo2 {
    width: 65px;
    height: 52px;
  }
  .c-navSP__search {
    position: relative;
    margin: 0;
    z-index: 51;
  }
  .c-search__SP2 {
    align-items: center;
  }
  .c-search__inner2 {
    display: flex;
    justify-content: center;
  }
  .c-search_container2 {
    box-sizing: border-box;
    position: relative;
    border: 1px solid #999;
    background-color: #ffffff;
    padding: 3px 10px;
    height: 2.3em;
    width: 100%;
    height: 35px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .c-search_container2 input[type="text"] {
    border: none;
    height: 2em;
    width: 93%;
  }
  .c-search_container2 input[type="text"]:focus {
    outline: 0;
  }
  .c-search_container2 input[type="submit"] {
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 1.3em;
    border: none;
    background: none;
    color: #3879d9;
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    right: 0;
    top: -10px;
    outline: none;
  }
  .c-navSP__link {
    display: block;
    margin-top: 40px;
    color: #fff;
    margin-left: 20px;
  }
  .rowSpace {
    margin-top: 20px;
  }
  .c-navSP__link li {
    padding-top: 10px;
  }
  .c-navSP__sns2 {
    margin-top: 20px;
    margin-left: 20px;
  }
  .l-footerPC__snsLink2 {
    display: flex;
  }
  .l-footerPC__snsLink2 li {
    padding-right: 10px;
  }
  .l-footerPC__snsLinkOpen2 {
    margin-top: 20px;
  }
  /*ナビの中身*/
  .c-nav__search {
    position: relative;
    margin: 0;
    background: #333;
    z-index: 51;
  }
  .c-search_container {
    box-sizing: border-box;
    position: relative;
    border: 1px solid #999;
    background-color: #ffffff;
    padding: 3px 10px;
    border-radius: 20px;
    height: 2.3em;
    width: 100%;
    height: 35px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .c-search_container input[type="text"] {
    border: none;
    height: 2em;
    width: 93%;
  }
  .c-search_container input[type="text"]:focus {
    outline: 0;
  }
  .c-search_container input[type="submit"] {
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 1.3em;
    border: none;
    background: none;
    color: #3879d9;
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    right: 0;
    top: -10px;
    outline: none;
  }
  /*検索フォーム*/
  .c-search__SP {
    padding: 0 15px 12px;
    align-items: center;
  }
  .c-search__inner {
    padding-right: 20px;
    display: flex;
    justify-content: center;
  }
  .c-nav__shopping {
    display: block;
    width: 50px;
    padding: 0 0 0 20px;
    margin: 0;
    order: 3;
  }
  .p-pickUp__list {
    display: flex;
    flex-wrap: wrap;
  }
  .p-pickUp__item {
    width: calc(100% / 2);
  }
  .p-pickUp__image {
    width: 100%;
  }
  .c-viewMore__button {
    position: relative;
    display: inline-block;
    width: 228px;
    height: 55px;
    line-height: 53px;
    padding: 0 10px;
    color: #fff;
    border: 1px solid #ccc;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
    background-color: #b4b4b4;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    font-size: 15px;
  }
  .p-reccomend {
    margin-top: 0;
    padding: 75px 0 55px;
  }
  /*スリックSP*/
  .c-slick {
    margin: 20px auto;
    position: relative;
    padding: 0px 100px;
  }
  .c-slick__slider {
    position: relative;
  }
  .c-slick img {
    margin: 0 auto;
  }
  .c-slick__data {
    padding-top: 10px;
    justify-content: center;
    align-items: center;
  }
  /*スリックSP*/
  .p-ranking {
    padding: 60px 0;
    border-top: 1px solid #b4b4b4;
  }
  .p-ranking__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 25px;
    margin: 25px auto 33px;
    justify-content: space-between;
  }
  .p-ranking__item {
    padding: 40px 0 0;
    margin-bottom: 20px;
    width: calc((100% - 26px) / 2);
    margin-right: 26px;
    margin-right: 0;
  }
  .p-ranking__link {
    position: relative;
    display: block;
    text-decoration: none;
    counter-increment: cnt;
  }
  .p-ranking__link:before {
    content: counter(cnt);
    position: absolute;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    color: #000;
    z-index: 1;
    top: -30px;
    width: 21px;
    height: 21px;
    line-height: 21px;
    font-size: 41px;
  }
  .c-item__data {
    margin-top: 20px;
    font-size: 16px;
  }
  .c-item__data > span:not(:first-child) {
    padding-top: 5px;
  }
  /*.p-ranking__item:not(:nth-child(4n)) {
    margin-right: 0;
  }*/
  .l-footer {
    margin-top: 80px;
    background: #333;
  }
  .l-footerSP {
    height: auto;
    padding: 65px 15px 20px;
  }
  /*sns*/
  .l-footerSP__sns {
    display: block;
    padding-left: 0;
    height: auto;
    min-height: auto;
  }
  .l-footerSP__snsLink {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
  }
  .l-footerSP__snsLink li {
    padding: 0 17px;
    margin: 0;
    font-size: 24px;
    color: #fff;
    margin-bottom: 35px;
  }
  .flowbtn10 {
    display: inline-block;
    font-size: 28px;
    text-decoration: none;
    transition: 0.5s;
    color: #ffffff;
  }
  /* インスタ・pocket・ラインだけ少し大きく */
  .flowbtn10 .fa-instagram,
  .flowbtn10 .fa-line {
    font-size: 25px;
  }
  /* Twitterマウスホバー時 */
  .flowbtn10 .fa-twitter:hover {
    color: #55acee;
  }
  /* Instagramマウスホバー時 */
  .flowbtn10 .fa-instagram:hover {
    color: #c6529a;
  }
  /* Facebookマウスホバー時 */
  .flowbtn10 .fa-facebook-f:hover {
    color: #3b5998;
  }
  /* YouTubeマウスホバー時 */
  .flowbtn10 .fa-youtube:hover {
    color: #fc0d1c;
  }
  /* LINEマウスホバー時 */
  .flowbtn10 .fa-line:hover {
    color: #00c300;
  }
  /* ulタグの内側余白を０にする */
  ul.l-footerPC__snsLink {
    padding: 0 !important;
  }
  /* アイコン同士の余白 */
  .l-footerPC__snsLink li {
    padding: 0 8px;
    margin: 0 2px;
  }
  .l-footerSP__link {
    display: block;
    padding-left: 0;
    height: auto;
    min-height: auto;
  }
  .l-footerSP__link li {
    color: #ffffff;
    margin: 0;
    font-size: 14px;
  }
  .l-footerSP__link li a {
    display: block;
    padding: 10px;
    font-size: 14px;
  }
  .rowSpace {
    padding-top: 20px;
  }
  .c-company {
    text-align: center;
  }
  .c-company__logo {
    width: 237px;
    margin: 50px auto 0;
    padding: 0;
  }
  .c-company__copy {
    margin: 25px 0 40px;
    font-size: 12px;
    color: #ffffff;
  }
} /*消さない*/
@media screen and (max-width: 980px) {
  .c-slick__text {
    font-size: 20px !important;
  }
  .c-slick__text {
    left: 50px !important;
  }
  .c-slick__textBox {
    padding-right: 10px;
  }
}
@media screen and (min-width: 769px) {
  /* ppcPC style */
  .l-headerSP,
  .globalMenuSp {
    display: none;
  }
  .menu {
    display: none;
  }
  .c-navSP__wrap {
    display: none;
  }
  .c-nav__inner {
    display: none;
  }
  .c-nav__shopping {
    display: none;
  }
  .l-footerSP {
    display: none;
  }
  .c-nav__search {
    display: none;
  }
  .l-header {
    width: 100%;
  }
  .p-headerPC {
    height: 40px;
    width: auto;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .p-hederPC__only {
    display: flex;
  }
  .p-headerPC__favorite {
    font-size: 10px;
    color: #ffffff;
    margin-right: 10px;
  }
  .p-headerPC__login {
    font-size: 10px;
    color: #ffffff;
    margin-right: 10px;
  }
  .c-nav {
    /*position: fixed;*/
    max-width: 1920px;
    height: 85px;
    display: flex;
    align-items: center;
  }
  .c-nav__inner {
    display: flex;
    align-items: center;
    margin: 0 30px 0 20px;
  }
  .c-nav__logo {
    width: 72px;
    height: 52px;
  }
  .c-nav__pcList {
    display: flex;
    padding-left: 10px;
  }
  .c-nav__pcItem {
    padding-left: 10px;
    color: #ffffff;
  }
  .c-nav__pcItem:hover {
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
  }
  /*検索フォーム*/
  .c-search_container {
    box-sizing: border-box;
    position: relative;
    border: 1px solid #999;
    background-color: #ffffff;
    padding: 3px 10px;
    border-radius: 20px;
    height: 2.3em;
    width: 235px;
    height: 35px;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .c-search_container input[type="text"] {
    border: none;
    height: 2em;
    width: 80%;
  }
  .c-search_container input[type="text"]:focus {
    outline: 0;
  }
  .c-search_container input[type="submit"] {
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 1.3em;
    border: none;
    background: none;
    color: #3879d9;
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    right: 0;
    top: -10px;
    outline: none;
  }
  /*検索フォーム*/
  .c-search {
    display: flex;
    align-items: center;
  }
  .c-search__inner {
    padding-right: 20px;
  }
  .c-search__shopping {
    padding-right: 20px;
  }
  .p-pickUp {
    margin: 0 auto;
  }
  .test {
    width: 100%;
  }
  .p-pickUp__list {
    display: flex;
    flex-wrap: wrap;
  }
  .p-pickUp__item {
    width: calc(100% / 3);
  }
  .p-pickUp__image {
    width: 100%;
  }
  .p-reccomend {
    margin-top: 90px;
    padding: 0 0 80px;
  }
  .c-reccomend__title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .c-reccomend__titleText {
    font-size: 24px;
    border-bottom: 2px solid #ff8636;
  }
  .p-reccomend__titleSubText {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
  }
  .c-slick {
    position: relative;
    padding: 0 70px;
    max-width: 1920px;
    margin: 30px auto 60px;
    overflow: hidden;
  }
  .c-slick__slider div {
    margin: 10px;
  }
  .c-slick__slider img:hover {
    opacity: 0.5;
    text-decoration: none;
  }
  .c-slick__data {
    padding-top: 10px;
  }
  .c-viewMore__button {
    position: relative;
    display: inline-block;
    width: 205px;
    height: 55px;
    line-height: 53px;
    padding: 0 10px;
    color: #fff;
    border: 1px solid #ccc;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
    background-color: #b4b4b4;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    font-size: 17px;
  }
  .p-ranking {
    margin-top: 0;
    padding: 80px 0;
    border-top: 1px solid #b4b4b4;
  }
  .p-ranking__list {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 35px;
  }
  .p-ranking__item {
    box-sizing: border-box;
    margin-bottom: 55px;
    padding: 40px 0 0;
    overflow: hidden;
    width: calc((100% - 105px) / 4);
  }
  .p-ranking__item:not(:nth-child(4n)) {
    margin-right: 35px;
  }
  .p-ranking__image {
    padding: 20px 20px 14px 20px;
  }
  .p-ranking__image :hover {
    color: #000;
    background-color: #c9c9c9;
    text-decoration: none;
  }
  .c-item__data {
    margin: 15px 0 0 20px;
    font-size: 16px;
  }
  .p-ranking__link {
    position: relative;
    display: block;
    text-decoration: none;
    counter-increment: cnt;
  }
  .p-ranking__link:before {
    content: counter(cnt);
    position: absolute;
    left: 2px;
    top: -25px;
    line-height: 35px;
    font-weight: bold;
    font-size: 50px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    color: #000;
    z-index: 1;
  }
  .l-footer {
    margin-top: 80px;
    background: #333;
  }
  .l-footerPC {
    padding: 55px 55px 0px;
  }
  .rowSpace {
    margin-top: 30px;
  }
  .l-footerPC__link {
    display: flex;
    width: 100%;
    padding-bottom: 10px;
  }
  .l-footerPC__link li {
    color: #ffffff;
    font-size: 12px;
    padding-top: 10px;
  }
  .l-footerPC__link a:hover {
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
  }
  .l-footerPC__link ul {
    width: 100%;
  }
  .l-footerPC__link ul:first-child {
    width: 76%;
  }

  /*sns*/
  .l-footerPC__sns {
    width: 100%;
  }
  .l-footerPC__snsLink {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: -10px;
  }
  .flowbtn10 {
    display: inline-block;
    font-size: 25px;
    text-decoration: none;
    transition: 0.5s;
    color: #ffffff;
  }
  /* インスタ・pocket・ラインだけ少し大きく */
  .flowbtn10 .fa-instagram,
  .flowbtn10 .fa-get-pocket,
  .flowbtn10 .fa-get-pocket,
  .flowbtn10 .fa-line {
    font-size: 25px;
  }
  /* Twitterマウスホバー時 */
  .flowbtn10 .fa-twitter:hover {
    color: #55acee;
  }
  /* Instagramマウスホバー時 */
  .flowbtn10 .fa-instagram:hover {
    color: #c6529a;
  }
  /* Facebookマウスホバー時 */
  .flowbtn10 .fa-facebook-f:hover {
    color: #3b5998;
  }
  /* YouTubeマウスホバー時 */
  .flowbtn10 .fa-youtube:hover {
    color: #fc0d1c;
  }
  /* LINEマウスホバー時 */
  .flowbtn10 .fa-line:hover {
    color: #00c300;
  }
  /* ulタグの内側余白を０にする */
  ul.l-footerPC__snsLink {
    padding: 0 !important;
  }
  /* アイコン同士の余白 */
  .l-footerPC__snsLink li {
    padding: 0 8px;
    margin: 0 2px;
  }
  .l-footerPC__snsLinkOpen {
    position: relative;
    margin-top: 20px;
  }
  .c-company {
    padding: 40px 0 0 0;
    text-align: center;
  }
  .c-company__copy {
    color: #ffffff;
    margin: 15px 0 45px;
    font-size: 10px;
    background: #333;
    line-height: 1;
    text-align: center;
  }
} /*消さない*/
